/**
 * October 3, 2019
 * Copyright, Mikhail K., 2019
 */
.mdl-layout__drawer.is-visible~.mdl-layout__content.mdl-layout__content {
    overflow-y: unset !important;
}

.mdl-layout__header {
    position: fixed;
}

.mdl-layout__drawer {
    width: 300px;
    left: -150px;
}

.mdl-layout__drawer.is-visible {
    left: 0;
}

.mdl-layout__header-title-text {
    vertical-align: -3px;
}

.mini-logo {
    width: 48px;
    height: 48px;
}

.about {
    margin-top: 10px;
}

.about.gymnasium {
    text-align: right;
}

.mdl-layout__header-title-logo {
    margin-left: -15px;
}

.mdl-layout-drawer-title-logo {
    float: left;
    position: absolute;
    margin-top: 10px;
    margin-bottom: 2px;
    margin-left: 8px;
    cursor: pointer;
}

.mdl-layout-drawer-title-area .mdl-layout-title {
    margin-left: 64px;
    margin-top: 24px;
}

.mdl-layout__header {
    -webkit-user-select: none;
}

.mdl-layout__drawer {
    -webkit-user-select: none;
}

.mdl-layout__drawer-button:hover {
    background-color: #6D4C41 !important;
}

.mdl-layout__drawer-button:focus,
.mdl-layout__drawer-button:hover:focus {
    background-color: #5D4037 !important;
}

.mdl-layout__drawer-button:active, .mdl-layout__drawer-button:focus {
    outline: none !important;
}

.mdl-layout__drawer-button {
    -webkit-border-radius: 100px;
    border-radius: 100px;
}

.mdl-layout__drawer-navigation-subcategory {
    color: black !important;
    cursor: unset !important;
    margin-top: 10px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.mdl-layout__drawer-navigation-subcategory:hover {
    background-color: unset !important;
}

.mdl-layout__drawer .mdl-layout__drawer-navigation-subcategory .mdl-navigation__link {
    margin-left: -16px;
}

.mdl-navigation__link {
    cursor: pointer;
}

.mdl-navigation-current-topic {
    font-weight: bold;
}

.mdl-mini-footer .mdl-logo {
    line-height: initial !important;
}