/**
 * October 3, 2019
 * Copyright, Mikhail K., 2019
 */

#table_of_contents {
    border: 2px darkgrey solid;
    background-color: lightgrey;
    text-align: left;
    padding: 10px;
    width: 75%;
    margin: 10px auto;
}

#table_of_contents * {
    font-size: 15px;
}

#table_of_contents ul li a {
    cursor: pointer;
    color: darkblue;
    text-decoration: underline;
}

#table_of_contents ul li a:hover {
    color: blue;
}

#table_of_contents ul li a:visited {
    color: black;
}

#table_of_contents ul li a:active {
    cursor: pointer;
    color: mediumblue;
}

.content {
    text-align: center;
}

.content .chapter {
    margin: 10px;
}

.content img {
    margin: 5px;
    max-width: 90%;
    width: 90%;
    height: auto;
}

.chapter p {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 16px;
    text-align: left;
}

.img-label {
    font-size: 15px;
    font-style: italic;
    color: darkgray;
    margin-bottom: 5px;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    max-width: 90%;
    margin-left: 6%;
    margin-right: 6%;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}