/**
 * October 3, 2019
 * Copyright, Mikhail K., 2019
 */

.table_of_contents {
    border: 2px darkgrey solid;
    background-color: lightgrey;
    text-align: left;
    padding: 10px;
    width: 75%;
    margin: 10px auto;
}

.table_of_contents ul li a {
    cursor: pointer;
    color: black;
    text-decoration: underline;
}

.table_of_contents ul li a:hover {
    color: blue;
}

.table_of_contents ul li a:visited {
    color: black;
}

.table_of_contents ul li a:active {
    cursor: pointer;
    color: darkblue;
}

.content {
    text-align: center;
}

.content img {
    margin: 10px;
    max-width: 80%;
    width: 80%;
    height: auto;
}